.navbar {
    background-color: #646cff;
    color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10%;
}

.navbar img {
    height: 80px;
    transition: 200ms;
}

.navbar img:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
    margin: 0;
    padding: 0 20px 0 0;
}

.navbar ul li, ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 28px;
    transition: 200ms;
}

.navbar ul li:hover, ul a:hover {
    color: #f2f2f2;
    transform: scale(1.3);
    transition: 200ms;
}