.postFeed, .postFeed * {
    box-sizing: border-box;
}

.postFeed {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-out, fadeInFromLeft 0.5s ease-out;
}

.postFeed h2 {
    font-size: 28px;
    margin-bottom: 0;
}

.post_container {
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    min-height: 50vh;
    background-color: #646cff;
    color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.post_container img {
    height: 80px;
    border-radius: 50%;
}

.post_container img:hover {
    cursor: pointer;
    transition: 200ms;
    transform: scale(1.1);
}

.postFeed form input:not(.postFeed form div input, .postFeed form input[type="submit"]), .postFeed form textarea, .postFeed form select{
    width: 70%;
    color: #838181;
}

.postFeed form div label{
    color: #5c5b5b;
    font-weight: 500;
    margin-left: 5px;
}

.postFeed form div, .postFeed form select, .postFeed form input{
    margin-bottom: 10px;
}

.postFeed form input[type="submit"]{
    width: 50%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}